<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script src="/static/script.js"></script>
    </head>

    <body>
        <div id="mainBoardContent">
            <header>
                <a href="/" style="position: absolute; top: 10px; left: 10px;">[Go back]</a>
                <h1 style="color: #cc0000" id="title"></h1>
                <form id="postThread">
                    <label for="name">Name</label>
                    <input type="text" id="name" value="Anonymous"><br>
                    <label for="msg">Message</label>
                    <textarea id="msg" rows="5" columns="70"></textarea><br>
                    <label for="image">Image</label>
                    <input type="file" id="file"><br><br>
                    <input type="button" value="Submit a new thread" id="submit" onclick="SubmitPost('#postThread')">
                </form>
            </header>
        </div>

        <!-- This div is shown whenever board could not be found -->
        <div id="notFound">
            <h1>404 not found</h1>
        </div>

        <!-- This form is the content of floating reply modal -->
        <form id="postReply" title="Reply to ">
            <input type="text" id="name" placeholder="Name" value="Anonymous"><br>
            <textarea id="msg" rows="5" columns="60"></textarea><br>
            <input type="file" id="file"><br><br>
            <input type="button" id="submit" value="Submit a reply">
        </form>

        <script>LoadBoardContent()</script>
    </body>
</html>
