<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Welcome to kchan!</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="centeredBox">
            <img src="/static/res/merry1.png">
            <h1>Welcome to kchan!</h1>
            <p>Probably the worst imageboard website in existance</p>

            <div id="links">
                <h2>Boards</h2>
            </div>
        </div>
        <script>ListBoards()</script>
    </body>
</html>
